div .title-of-header{
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #96969f;
    padding: 5px;
}
.hdr{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.inp{
    border-radius: 10px;
    margin: 10px;
    background-color: #efeeee;
    font-size: 13px;
    padding-left: 10px;
}
.under-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #282c34;
}
@media screen and ( max-height: 500px) {
.title-of-header{
    display :none !important;
}
}