.home{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: grey;
    padding-bottom: 60px;
    padding-top: 100px;
}
.home-card{
    margin :5px;

}
.card-body{
    background-color: #d7d7d7;
}
@media screen and ( max-height: 500px) {
    *{
        font-size :10px;
    }
    .home{
        padding-top :40px !important;
        padding-bottom :15px !important;
    }
}
