.footer {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer p {
    display :flex;
    justify-content: center;
    color:darkgray;
}
@media screen and ( max-height: 500px) {
    .footer{
        display :none ;
    }
}